<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Nem</string>
		<key>imgPath</key>
		<string>nem.jpg</string>
		<key>prepTime</key>
		<string>30 min</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phở bò</string>
		<key>imgPath</key>
		<string>pho-bo.jpg</string>
		<key>prepTime</key>
		<string>2 hrs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bánh cuốn</string>
		<key>imgPath</key>
		<string>banh-cuon.jpg</string>
		<key>prepTime</key>
		<string>3 hrs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bún chả cá</string>
		<key>imgPath</key>
		<string>bun-cha-ca.jpg</string>
		<key>prepTime</key>
		<string>2 hrs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bò kho</string>
		<key>imgPath</key>
		<string>bo-kho-soup.jpg</string>
		<key>prepTime</key>
		<string>1 hr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nem chua</string>
		<key>imgPath</key>
		<string>nem-chua.jpg</string>
		<key>prepTime</key>
		<string>3 days</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cá kho tộ</string>
		<key>imgPath</key>
		<string>ca-kho-to.jpg</string>
		<key>prepTime</key>
		<string>1 hr</string>
	</dict>
</array>
</plist>
